# T?t ch?c nang hi?n th? thu m?c
Options All -Indexes

# Không cho phép hi?n th? thu m?c
IndexIgnore *

# Không cho phép truy c?p vào file nào
<FileMatch '^.*$'>
    Order deny, allow deny from all
</FileMatch>